
<!DOCTYPE html>

<html lang="en">

<head>
    <title>BABYtime | Add New Event | {{ calendar_name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form_page.css') }}">
    {% include "head_all.html" %}
</head>

<body>

<form action="" method="POST">
<div id="main-box">

    <div class="form-group">
        <label for="event-name">Name</label>
        <input type="text" id="event-name" name="event-name" placeholder="i.e. &quot;Ultrasound&quot;" required autofocus />
    </div>

    <div class="form-group">

        <label for="date-type">Date</label>
        <select id="date-type" name="date-type" onchange="changeDateType()" required>
            <option value="cal" selected>Year/Month/Day</option>
            <option value="gest">Gestational</option>
        </select>

        <div id="cal-dating" class="multi-field-line">
            <input type="number" pattern="[0-9]*" name="cal-year" min="0" max="9999" value="{{ current_year }}" step="1" />
            <select name="cal-month">
                <option value="1" selected>January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <input type="number" pattern="[0-9]*" name="cal-day" value="1" min="1" max="31" step="1" />
        </div>

        <div id="gest-dating" class="multi-field-line">
            <label for="gest-week">Week</label>
            <input type="number" pattern="[0-9]*" id="gest-week" name="gest-week" value="0" min="0" max="42" step="1" />
            <label for="gest-day">Day</label>
            <input type="number" pattern="[0-9]*" id="gest-day" name="gest-day" value="0" min="0" max="6" step="1" />
        </div>

    </div>

    <div class="form-group">

        <div>
            <label for="has-time-checkbox">Time</label>
            <input id="has-time-checkbox" type="checkbox" name="has-time" value="true" onchange="changeHasTime()"/>
        </div>

        <div id="time" class="multi-field-line">
            <input type="number" pattern="[0-9]*" name="hour" value="12" min="1" max="12" step="1" />
            <select name="minute">
                <option value="0" selected>00</option>
                <option value="5">05</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
            </select>
            <select name="am-or-pm">
                <option value="am" selected>am</option>
                <option value="pm">pm</option>
            </select>
        </div>
    </div>

    <button class="form-group" type="submit">Add Event</button>

    <a href="{{ go_back_href }}">Go Back</a>

</div> 
</form>

</body>

<script>


changeDateType();
changeHasTime();


function changeDateType() {

    const datingMethod = document.getElementById('date-type').value;

    let elem, otherElem;
    if (datingMethod === 'cal') {
        elem = document.getElementById('cal-dating');
        otherElem = document.getElementById('gest-dating');
    } else {
        // datingMethod === 'gest'
        elem = document.getElementById('gest-dating');
        otherElem = document.getElementById('cal-dating');
    };

    otherElem.style.display = 'none';
    for (const innerElem of elem.querySelectorAll('input, select')) innerElem.setAttribute('required', '');  // Required.
    for (const innerElem of otherElem.querySelectorAll('input, select')) innerElem.removeAttribute('required');  // Not required.
    elem.style.display = 'flex';
};


function changeHasTime() {

    // const elemChecked = document.getElementById('has-time-checkbox').checked;

    const timeElem = document.getElementById('time');
    if (document.getElementById('has-time-checkbox').checked) {
        timeElem.style.display = 'flex';
        for (const innerElem of timeElem.querySelectorAll('input, select')) innerElem.setAttribute('required', '');  // Required.
    } else {
        // Elem is not checked.
        timeElem.style.display = 'none';
        for (const innerElem of timeElem.querySelectorAll('input, select')) innerElem.removeAttribute('required');  // Not required.
    };
};


</script>

</html>
